{% extends 'base.html' %}

{% block content %}


<div class="d-grid gap-2 col-6 mx-auto">
    <a class="nav-link active" aria-current="page" href="{% url 'cryptocompare:crypto_login' %}">
      <button type="submit" class="btn btn-primary btn-lg" value="Login">Login</button>

</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="nav-link active" aria-current="page" href="{% url 'cryptocompare:register' %}">
      <button type="submit" class="btn btn-primary btn-lg" value="Register">Register</button>
</div>



                {% if datas %}

                {% for data in datas %}
                
                    <img src="{{ data.image }}" alt="">

                {% endfor %}
                
                
               
                {% endif %}



  {% endblock %}
